$font-stack: sans-serif;
$primary-color: #fff;
$yellow-color: #ffff4d;

.planet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-stack;
  color: $primary-color;
  letter-spacing: 1px;
  background-color: #202020;
}

.planet-name {
  letter-spacing: 2px;
  margin: 40px;
}

.button-block {
  margin-bottom: 20px;

  button {
    border: solid $yellow-color 1px;
    border-radius: 10px;
    background: none;
    font-size: 17px;
    width: 110px;
    height: 40px;
    color: $primary-color;
    letter-spacing: 1px;
    margin-right: 20px;
  }

  & :last-child {
    margin-right: 0;
  }
}

.resident {
  list-style-type: none;
  margin: 20px;
  padding: 0;

  .resident__info {
    margin-bottom: 10px;
    text-align: center;
  }

  .resident__info_name {
    font-weight: 600;
    margin-bottom: 15px;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

.planet-info-block {
  margin: 40px auto 0;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  & :last-child {
    margin-bottom: 0;
  }

  .info-wrapper__text {
    margin-right: 20px;
  }
}
