<div class="planet-info" *ngIf="planet">
  <h1 class="planet-name">{{planet.name}}</h1>
  <div class="resident-wrapper">
    <div class="button-block">
      <button (click)="selectGender('male')">Male</button>
      <button (click)="selectGender('female')">Female</button>
      <button (click)="selectGender('n/a')">Unknown</button>
      <button (click)="selectGender('reset')">Reset</button>
    </div>
    <ul class="resident" *ngFor="let resident of filteredResidents || residentService.residents">
      <li class="resident__info resident__info_name">{{resident.name}}</li>
      <li class="resident__info">Height: {{resident.height}}</li>
      <li class="resident__info">Weight: {{resident.mass}}</li>
      <li class="resident__info">Gender: {{resident.gender}}</li>
    </ul>
  </div>
  <div class="planet-info-block">
    <div class="info-wrapper">
      <div class="info-wrapper__text">Diameter</div>
      <div class="info-wrapper__planet-info">{{planet.diameter}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Rotation period</div>
      <div class="info-wrapper__planet-info">{{planet.rotation_period}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Orbital period</div>
      <div class="info-wrapper__planet-info">{{planet.orbital_period}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Gravity</div>
      <div class="info-wrapper__planet-info">{{planet.gravity}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Population</div>
      <div class="info-wrapper__planet-info">{{planet.population}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Climate</div>
      <div class="info-wrapper__planet-info">{{planet.climate}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Terrain</div>
      <div class="info-wrapper__planet-info">{{planet.terrain}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Surface water</div>
      <div class="info-wrapper__planet-info">{{planet.surface_water}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Url</div>
      <div class="info-wrapper__planet-picture">{{planet.url}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Created</div>
      <div class="info-wrapper__planet-info">{{planet.created}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Edited</div>
      <div class="info-wrapper__planet-info">{{planet.edited}}</div>
    </div>
  </div>
</div>
