<div class="content" *ngIf="swapiService.planets.length > 0">
  <app-list-item *ngFor="let planet of swapiService.planets" [planet]="planet"></app-list-item>
</div>

<app-pagination [pages]="pages"></app-pagination>
