$font-stack: sans-serif;
$primary-color: #fff;
$yellow-color: #ffff4d;

.pagination {
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: #323232;

  div {
    cursor: pointer;
    margin: 40px 20px 0 0;
    font-size: 25px;
    font-family: $font-stack;
    color: $primary-color;
  }

  div:hover {
    color: $yellow-color;
  }

  & :last-child {
    margin-right: 0;
  }
}
