.header {
  background-color: #323232;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid #ffff4d 2px;
  & a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
    letter-spacing: 9px;
  }
}

