$font-stack: sans-serif;
$primary-color: #fff;
$yellow-color: #ffff4d;

.planet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px 200px;
  font-family: $font-stack;
  color: $primary-color;

  .planet__name {
    font-size: 40px;
    letter-spacing: 6px;
  }

  .right-block {
    border: solid $yellow-color 2px;
    padding: 20px;
    border-radius: 20px;
  }
}

.info-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;

  .info-wrapper__planet-info {
    margin-left: 20px;
  }
}

@media (max-width: 1090px) {
  .planet {
    margin: 25px 40px;
  }
}
