<a class="planet" routerLink="/{{planet.name}}">
  <div class="planet__name">{{planet.name|uppercase}}</div>
  <div class="right-block">
    <div class="info-wrapper">
      <div class="info-wrapper__text">Population</div>
      <div class="info-wrapper__planet-info">{{planet.population}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Climate</div>
      <div class="info-wrapper__planet-info">{{planet.climate}}</div>
    </div>
    <div class="info-wrapper">
      <div class="info-wrapper__text">Created</div>
      <div class="info-wrapper__planet-info">{{planet.created}}</div>
    </div>
  </div>
</a>
